<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Education -->
      <package
            uri="http://it.univaq.disim.mde.course./EMS"
            class="Education.EducationPackage"
            genModel="model/Education.genmodel"/>
   </extension>

</plugin>
