<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Education -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Education.presentation.EducationModelWizardID"
            name="%_UI_EducationModelWizard_label"
            class="Education.presentation.EducationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EducationModelFile.gif">
         <description>%_UI_EducationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Education -->
      <editor
            id="Education.presentation.EducationEditorID"
            name="%_UI_EducationEditor_label"
            icon="icons/full/obj16/EducationModelFile.gif"
            extensions="education"
            class="Education.presentation.EducationEditor"
            contributorClass="Education.presentation.EducationActionBarContributor">
      </editor>
   </extension>

</plugin>
